.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    padding: 40px 0;
    background-color: white;

    .auth-form{
        background-color: white;
        padding: 40px;
        border-radius: 16px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        text-align: center;
        width: 340px;
    
    h2{
        font-size: 24px;
        color:#1e40af;
    }   
    
    form{
        text-align: left;

        label{
            display: block;
            margin-bottom: 5px;
            font-size: 18px;
            color:rgb(0, 18, 98)
        }

        input, select {
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            border: 1px solid #e2e8f0;
            border-radius: 8px;
            background-color: #f8fafc;
            transition: all 0.3s ease;
            font-family: inherit;
        }

        input:focus, select:focus {
            outline: none;
            border-color: #3b82f6;
            box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
            background-color: white;
        }
    }
    }

}