header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #f1f5f9;

    .logo {
        font-size: 25px;
        font-weight: 600;
        color: #1e40af;

        a {
            color: inherit;
            text-decoration: none;
        }

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }
    .link{
        display: flex;
        gap: 2rem;

        @media (max-width: 768px) {
            gap: 0.5rem;
        }

        a{
            text-decoration: none;
            color: #1e40af;
            transition: 0.3s;

            &:hover{
                color: #eb5625;
            }
        }
    }
}
